html,body{ margin:0; padding:0; height:100%; width:100%; font-size: 16px;font-weight: bold;}
body{
    font-weight: bold;
}
#navbar{
    background-color:black;
    color: white;
}
#ulNav{

}
.aNav{
    all: unset;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 25px;
}
#logoH1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-style: italic;
    font-size: 45px;
    padding: 10px;
}
#headerImg{
    width: 150px;
    display: inline-block;
}
#header{
    z-index: 100;
    padding-left: 150px;
    padding-right: 150px;
}
#headerItensDiv{
    display: table;
    float: right;
    height: 150px;
}
#backgoundDiv{
    background-image: url("img/background.jpg");
    background-size: cover;
    width: 100%;
    height: 130%;
    position: relative;
}
#translucidDiv{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}
#content{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
}
.homeBtn{
    all: unset;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    color:#FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 25px;
}
.homeBtn:hover{
    color: #143356;
    text-decoration: none;
}
.homeH1{
    color: #FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 60px;
    padding: 30px;
}
#homeMain{
    padding-top: 70px;
    position: relative;
    text-align: center;
}
#shopBtnMain{
    background-color: rgba(20, 51, 86,0.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    height: 80px;
    width: 160px;
    font-size: 30px;
    color: #FAFAFA;
    margin-top: 50px;

}
#shopBtnMain:hover{
    background-color: rgba(20, 51, 86,1);
}
#shopDiv{
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
}
.product{
   width: 400px;
   height: 500px;
   text-align: center;
}
.productImg{
    height: 300px;
    width: 300px;
}
.productTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: black;
    font-size: 20px;
}
#productTable{
    display: flex;
    justify-content: center;
}
#productDiv{
    width: 100%;
}
.productBtn{
    background-color:rgba(20, 51, 86);;
    color: #FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    width: 120px;
    height: 30px;
    font-size: 17px;
    border-radius: 50px;

}
.productBtn:hover{
    background-color:rgba(20, 51, 86,1);;
}
#cartTable{
    border: #143356 solid 1px;
    width: 500px;
    height: 300px;
}
.width100{
    width: 100%;
}
#logInDiv{
    padding: 30px;
}
#signUpDiv{
    padding: 30px;
}
.productCard{
    padding-top: 30px;
}
.imgProductB{
    height: 270px;
    widows: 270px;
    
}
.productDescRow{
    font-weight: 200;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 160%;
    word-spacing: 3px;
    font-size: 18px;
}
.productPriceRow{
    font-size: 16px;
}
.prodcutNameRow{
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}
.productPadding{
    padding: 5px;
}
#shopContainer{
    padding-left: 170px;
    padding-right: 170px;
}
#h3shop{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
#pshop{
    padding: 25px;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    width: 100%;
    position: relative;

}
    
   

.singleImg{
    width: 560px;
    height: 560px;
}
.singleTextDiv{
    padding-top: 70px;
    padding-bottom: 70px;
}
.singleName{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.singlePrice{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.singleCartBtn{
    background-color:rgba(20, 51, 86);;
    color: #FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    width: 200px;
    height: 50px;
    font-size: 23px;
    border-radius: 50px;

}
#bodyIndex{
    overflow: hidden;
}
@media only screen and (max-width : 480px) {
    #shopContainer{
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
    }
    .singleImg{
        width: 400px;
        height: 400px;
    }