html,body{ margin:0; padding:0; height:100%; width:100%;}
#navbar{
    background-color:black;
    color: white;
}
#ulNav{

}
.aNav{
    all: unset;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 25px;
}
#logoH1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-style: italic;
    font-size: 45px;
    padding: 10px;
}
#headerImg{
    width: 150px;
    display: inline-block;
}
#header{
    z-index: 100;
    padding-left: 150px;
    padding-right: 150px;
}
#headerItensDiv{
    display: table;
    float: right;
    height: 150px;
}
#backgoundDiv{
    background-image: url("img/background.jpg");
    background-size: 1000px 1000px;
    width: 100%;
    height: 1000px;
    position: relative;
}
#translucidDiv{
    width: 100%;
    height: 1000px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}
#content{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
}
.homeBtn{
    all: unset;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    color:#FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 25px;
}
.homeBtn:hover{
    color: #143356;
    text-decoration: none;
}
.homeH1{
    color: #FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 60px;
    padding: 30px;
}
#homeMain{
    
    position: relative;
    text-align: center;
}
#shopBtnMain{
    background-color: rgba(20, 51, 86,0.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    height: 80px;
    width: 160px;
    font-size: 30px;
    color: #FAFAFA;
    margin-top: 50px;

}
#shopBtnMain:hover{
    background-color: rgba(20, 51, 86,1);
}
#shopDiv{
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
}
.product{
   width: 400px;
   height: 500px;
   text-align: center;
}
.productImg{
    height: 300px;
    width: 300px;
}
.productTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: black;
    font-size: 20px;
}
#productTable{
    display: flex;
    justify-content: center;
}
#productDiv{
    width: 100%;
}
.productBtn{
    background-color:rgba(20, 51, 86,0.5);;
    color: #FAFAFA;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    width: 170px;
    height: 65px;
    font-size: 25px;
    border-radius: 50px;

}
.productBtn:hover{
    background-color:rgba(20, 51, 86,1);;
}
